body {
    padding-top: 60px;
}

.box-shadow {
    -webkit-box-shadow: 10px 9px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 10px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 10px -9px rgba(0,0,0,0.75);
}

.fade-enter {
    opacity: 0.01;
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

  }
  
.fade-enter.fade-enter-active {
    opacity: 1;
    height: 80%;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 700ms ease-in;
}

.fade-leave {
    opacity: 1;
    height: 80%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 300ms ease-out;
}

.whole-height {
    height: 100vh;
}

.input-font {
    font-size: larger;
}

.form-control-post:focus {
    color: #495057;
    background-color: #fff;
    border-color: white !important;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

.log-form {
    width: 100%;
}


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .whole-height{
        max-width: 100vw !important;
    }
    .log-form {
        width: 38rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .whole-height{
        max-width: 40rem !important;
    }
    .log-form {
        width: 24rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .whole-height{
        max-width: 40rem !important;
    }
}